export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@localhost/teacherapp?sslmode=disable"
export EXTERNAL_URL="localhost:8080"
export SENDGRID_API_KEY="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"
export MAILTRAP_API_KEY="e408209fe498d02fa132e8fc395bb379"
export FROM_EMAIL="davmontas@gmail.com"