{{define "subject"}} Finish Registration with TeacherApp{{end}}

{{define "body" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <p>Hi {{.Username}}</p>
    <p>Soy davinci no toy fishing u, entra a ete enlace</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Aqui ;D</a></p>

    <p>Thanks</p>
    <p>The TheacherApp</p>
</body>
</html>
{{end}}